* {
  outline: none;
}
body {
  background-color: #c3b2b4;
  color: #3e2a35;
  font-family: "open sans";
}

/*Header*/
.header-form {
  background-color: #3e2a35;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.header-img {
  height: 50px;
  margin: 0 10px;
}

.header-text {
  align-items: center;
  color: white;
  display: flex;
  font-size: 50px;
  letter-spacing: 5px;
}

.search-container {
  align-items: center;
  border-radius: 8px;
  border: 4px solid #c2b2b4;
  display: flex;
}

.search-bar {
  border: none;
  font-size: 24px;
  height: 40px;
  width: 350px;
  padding-left: 8px;
}

.search-button {
  align-items: center;
  background-color: #c2b2b4;
  display: flex;
  height: 42px;
  justify-content: center;
  width: 50px;
}

.fa-search {
  color: white;
  font-size: 30px;
}

/*Photo Upload Form*/
.photo-upload-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0 auto;
  width: 50%;
}

.input-container {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 100%;
}

.input-container label {
  margin-bottom: 6px;
}

.inputs {
  border: none;
  height: 70px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}

.file-upload-container {
  height: 70px;
  margin-top: 35px;
  width: 100%;
}

.btn {
  background-color: #5b4447;
  border: none;
  color: white;
  font-size: 22px;
  height: 70px;
}

.btn:hover {
  background-color: #938284;
}

.upload-button {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width:100%;
}

.upload-button:focus {
  background-color: #938284;
}

.file-upload {
  display: none;
}

button:disabled {
  background-color: #938284;
}

.button-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 55px 0 35px 0;
  width: 100%;
}

.function-buttons {
  width: 45%;
}

/*Photo Card Display Area*/
.photo-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 45px;
}

/*Photo Card*/

.photo-card {
  background-color: #ffffff;
  border: 2px solid #938284;
  border-radius: 3px;
  margin: 20px /*2.5%*/;
  width: 250px;
}

.photo-file-container {
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.photo-file {
  max-height: 200px;
  max-width: 100%;
}

.photo-text {
  font-size: 20px;
  margin: 10px;
}

.caption {
  height: 90px;
  overflow-y: auto;
}

.title {
  height: 40px;
  overflow-x: auto;
}

.photo-actions {
  align-items: center;
  background-color: #5b4447;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 5px;
}

.favorite {
  background-color: transparent;
  background-image: url(images/favorite.svg);
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  height: 90%;
  width: 40px;
}

.favorite-active {
  background-color: transparent;
  background-image: url(images/favorite-active.svg);
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  height: 90%;
  width: 40px;
}

.favorite:hover {
  background-image: url(images/favorite-active.svg);
}

.delete {
  background-color: transparent;
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  height: 100%;
  width: 40px;
}

.delete:hover {
  background-image: url(images/delete-active.svg);
}

/*Media Queries*/
@media only screen and (max-width: 1000px) {
  .header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 750px) {
  .button-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .function-buttons {
    margin: 10px 0;
    width: 100%
  }
  .photo-upload-form {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .header-text {
    font-size: 23px;
  }

  .search-container {
    width: 280px;
  }

  .search-bar {
    width: 90%;
  }

  .function-buttons {
    width: 100%;
  }

  .photo-area {
    margin: 0 20px;
  }

  .photo-upload-form {
    width: 80%;
  }
}